*{
  box-sizing:border-box;
  margin: 0px;
  padding: 0px;
}

body{

  background-color: white;
}


/* LOGO, TITLE & Sign IN */
header{

  background-color: #f8f9fa;
}
img{

  margin-left: 20px;
  margin-right: 20px;
}
.logo{

display: inline-block;

}
.logo h1{

display: inline-block;
}
.headerRight{

float: right;
margin-right: 20px;
}
.headerRight ul{

text-decoration: none;
display: inline-block;
}
.headerRight ul li{

list-style: none;
display: inline-block;
padding-left: 10px;
}
.headerRight ul li a{


}
/* menu & search bar */
.menu-search{
  font: normal normal 500 15px/26px "Poppins";

  background-color: white;
  height: 40px;
  margin-bottom: 0;

}

.carousel-inner {
   width: 100%;
   height: 100%;
 }

.menu{
display: inline-block;
position: relative;
left:550px;
}
.btn-group{

}
.ropdown-menu{

}
.dropdown-item{

}
.inputgroup{
  float: right;

display: inline-block;

}
.input-group-append{
  display: inline-block;

}
.songsbookVIDEO{
  display: inline-block;
  margin-top: 30px;
}
.songsbook{
  display: inline-block;
  margin-left: 100px;
}
.youtube{
display: inline-block;
position: absolute;
center: 100px;

}
.row{

}
